<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form class="col-8 form-group" th:object="${userDetails}" th:action="@{/authentify}">
        <input class="form-control input-style" th:field="*{userName}" type="text" placeholder="User name" aria-label="Search">
        <input class="form-control input-style" th:field="*{password}" type="password" placeholder="Password" aria-label="Search">
        <button class="btn col-sm-2 button-color ms-1" type="submit">Login</button>
    </form>
    <a th:href="@{/createUser}">Create User</a>
</body>
</html>